<ion-view view-title="Servicios">
    <ion-content >
      <ion-list>
        <ion-item class="item-borderless" ng-repeat="service in services" href="#/app/services/{{service.service_id}}">
          <div style="width: 110%; margin-left: 5px; margin-bottom: 1px;" class="list card">
            <div class="item item-avatar ">
              <img src="img/services_img/steren_logo.jpg">
              <span class="header_title" ng-bind="service.service_name"></span><p></p>
              <span class="header_subtitle" ng-bind="service.service_direction"></span>
            </div>

            <div class="item item-body ">
              <img class="full-image" src="img/services_img/titos_largeimage.jpg"><p></p>
              <span class="body" ng-bind="service.service_description"></span>
            </div>
            
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>