<div>
    <ion-view view-title="Exito" class="login">
        <ion-content>

            <div>
                <img class="success" src="img/Listo.png">
            </div>

            <div>
                
                <img src="img/Velogif.gif" class="success-gif" />
            </div>

            <div class="separate-div">
                <a class="button button-block button-positive" style=" font-size:20px;" href="#/login">
                    ¡Estrena tu cuenta!                
                </a>
            </div>

        </ion-content>
    </ion-view>
</div>