/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
h3.edit_title 
{
    font-size: 15px; 
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

div.edit_subtitle 
{
    font-size: 22px; 
    padding-left: 5px;
    padding-top: 5px;
}

h3.name_saved 
{
    font-size: 15px; 
    font-weight: normal;
    text-align: center;
    padding-left: 5px;
    padding-top: 10px;
    color: #33cd5f;
}

.item-input-wrapper {
    background: #ffffff;
  }

img {
    max-width: 100%;
}

ion-item.item-divider {
   
    background-color: #e8f8ff;
  
  }

div.item-divider {
   
    background-color: #f7f7f7;
  
  }

.card-header-icon {
    float: right;
    margin: 5px;
    color: #444;
}

.navbutton{

    position:absolute; 
    right: 10px; 
    font-size:10px;
}

button.button-access{
    background: #0096C7;
    color: white;
}

.input-label-user{
    text-align: center;
    color: #444;
    font-weight: bold;
    /* margin-bottom: 8%; */
}

.input-label-error{
    margin-left: 0px;
    color: rgb(218, 38, 38);
    font-weight: bold;
}

.input-label-signup{
    margin-left: 0%;
    color: #0096C7;
    font-weight: bold;
}

.input-label-password{    
    text-align: center;
    color: #444;
    font-weight: bold;
}

.login ion-content {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgb(211, 211, 211) 100%);
    text-align: center;
    padding: 7% 7% 7% 7%; }

.error ion-content {
    background-image: linear-gradient(-180deg, rgb(226, 173, 94) 0%, rgb(192, 66, 66) 100%);
    text-align: center;
    padding: 7% 7% 7% 7%; }

div.error {
    margin-top: 10%;
    }

img.logo {
    max-width: 40%;
}

img.signup {
    max-width: 60%;
}

img.success {
    max-width: 100%;
}

img.success-gif {
    margin-top: 5%;
    max-width: 90%;
}

div.separate-error {
   margin-top: 2%;

}

div.separate-div {
    margin-top: 8%;
 
 }

label.separate-label {
    margin-top: 3%;
 
 }

div.profile_title{
    color: #444;
    font-weight: bold;
    font-size:20px;
}

div.profile_subtitle{
    color: #444;
    font-weight: normal;
    font-size:20px;
}

li.espacio { 
    margin-top: 30px; 
}

.custom-icon {
    color : #f8631d;
}

.custom-icon2 {
    color : #0096C7;
}

.background_menu{
    background-color: #424242;    
}

.item .item-content
{
    background-color: transparent !important;
    color: #dddddb;
}

.name{
    font-size: 15px; 
    font-weight: bold;
    color: #0096C7;
    
}

.email{
    font-size: 15px; 
    font-weight: bold;
    color: #dddddb;
    
}

.menu_logo{
    margin-top: 35px;
    margin-bottom: 35px;
}

.menu_options{
    text-align: center;
}

.menu_list{
    margin-top: 35px;
}

.card .item-avatar{
    background: #424242;
}

.card .item-body{
    background: rgba(187, 190, 190, 0.219);
}

.header_title{
    color: #0096C7;
    font-weight: bold; 
    font-size: 17px;
}

.header_subtitle{
    color: #dddddb;
    font-weight: normal; 
    font-size: 15px;
}

.body_list{
    color: #424242;
    font-weight: bold; 
    font-size: 17px;
}

.receipts_body1{
    margin-left: 56.4px;
}

.receipts_body2{
    margin-left: 40px;
}

.item .item-divider{
    color: #dddddb;
    background: #424242;
}

.item .item-text-wrap{
    background: rgba(187, 190, 190, 0.219);
}

.header_profile{
    height: 260px;
    background-image: url('../img/Header.png');
    width: 100%;
}

.avatar_profile{
    padding-top: 30px;
    margin: auto;
    background-color: transparent; 
    max-width:150px; 
    max-height:150px;
    
 }

.avatar_signup{
    padding-top: 15px;
    margin: auto;
    background-color: transparent; 
    max-width:150px; 
    max-height:150px;
 }

 .username_profile{
     color: #dddddb;
     font-weight: bold;
     font-size: 25px;
     margin-left: 30%;     
 }

 .img-circle {
    border-radius: 50%;
    margin-bottom: 15px;
     border: 3px solid white ;
    
}

.profile_list{
    color: #424242;
}
